<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credit Scoring Model Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Welcome to the Credit Scoring Model</h1>
    <p>
      This is the home page. To see the model metrics, click the link below.
    </p>
    <a href="{{ url_for('metric') }}">View Model Metrics</a>

    <div class="container">
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('signup') }}">Signup</a>
    </div>
  </body>
</html>
