<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credit Scoring Form</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Credit Scoring Prediction</h1>
    <form action="{{ url_for('predict') }}" method="post">
      <label for="DerogCnt">DerogCnt:</label>
      <input type="number" id="DerogCnt" name="DerogCnt" required /><br /><br />

      <label for="CollectCnt">CollectCnt:</label>
      <input
        type="number"
        id="CollectCnt"
        name="CollectCnt"
        required
      /><br /><br />

      <label for="BanruptcyInd">BanruptcyInd:</label>
      <input
        type="number"
        id="BanruptcyInd"
        name="BanruptcyInd"
        required
      /><br /><br />

      <label for="InqCnt06">InqCnt06:</label>
      <input type="number" id="InqCnt06" name="InqCnt06" required /><br /><br />

      <label for="InqTimeLast">InqTimeLast:</label>
      <input
        type="number"
        id="InqTimeLast"
        name="InqTimeLast"
        required
      /><br /><br />

      <label for="InqFinanceCnt24">InqFinanceCnt24:</label>
      <input
        type="number"
        id="InqFinanceCnt24"
        name="InqFinanceCnt24"
        required
      /><br /><br />

      <label for="TLTimeFirst">TLTimeFirst:</label>
      <input
        type="number"
        id="TLTimeFirst"
        name="TLTimeFirst"
        required
      /><br /><br />

      <label for="TLTimeLast">TLTimeLast:</label>
      <input
        type="number"
        id="TLTimeLast"
        name="TLTimeLast"
        required
      /><br /><br />

      <label for="TLCnt03">TLCnt03:</label>
      <input type="number" id="TLCnt03" name="TLCnt03" required /><br /><br />

      <label for="TLCnt12">TLCnt12:</label>
      <input type="number" id="TLCnt12" name="TLCnt12" required /><br /><br />

      <label for="TLCnt24">TLCnt24:</label>
      <input type="number" id="TLCnt24" name="TLCnt24" required /><br /><br />

      <label for="TLCnt">TLCnt:</label>
      <input type="number" id="TLCnt" name="TLCnt" required /><br /><br />

      <label for="TLSum">TLSum:</label>
      <input type="text" id="TLSum" name="TLSum" required /><br /><br />

      <label for="TLMaxSum">TLMaxSum:</label>
      <input type="text" id="TLMaxSum" name="TLMaxSum" required /><br /><br />

      <label for="TLSatCnt">TLSatCnt:</label>
      <input type="number" id="TLSatCnt" name="TLSatCnt" required /><br /><br />

      <label for="TLDel60Cnt">TLDel60Cnt:</label>
      <input
        type="number"
        id="TLDel60Cnt"
        name="TLDel60Cnt"
        required
      /><br /><br />

      <label for="TLBadCnt24">TLBadCnt24:</label>
      <input
        type="number"
        id="TLBadCnt24"
        name="TLBadCnt24"
        required
      /><br /><br />

      <label for="TL75UtilCnt">TL75UtilCnt:</label>
      <input
        type="number"
        id="TL75UtilCnt"
        name="TL75UtilCnt"
        required
      /><br /><br />

      <label for="TL50UtilCnt">TL50UtilCnt:</label>
      <input
        type="number"
        id="TL50UtilCnt"
        name="TL50UtilCnt"
        required
      /><br /><br />

      <label for="TLBalHCPct">TLBalHCPct:</label>
      <input
        type="text"
        id="TLBalHCPct"
        name="TLBalHCPct"
        required
      /><br /><br />

      <label for="TLSatPct">TLSatPct:</label>
      <input type="text" id="TLSatPct" name="TLSatPct" required /><br /><br />

      <label for="TLDel3060Cnt24">TLDel3060Cnt24:</label>
      <input
        type="number"
        id="TLDel3060Cnt24"
        name="TLDel3060Cnt24"
        required
      /><br /><br />

      <label for="TLDel90Cnt24">TLDel90Cnt24:</label>
      <input
        type="number"
        id="TLDel90Cnt24"
        name="TLDel90Cnt24"
        required
      /><br /><br />

      <label for="TLDel60CntAll">TLDel60CntAll:</label>
      <input
        type="number"
        id="TLDel60CntAll"
        name="TLDel60CntAll"
        required
      /><br /><br />

      <label for="TLOpenPct">TLOpenPct:</label>
      <input type="text" id="TLOpenPct" name="TLOpenPct" required /><br /><br />

      <label for="TLBadDerogCnt">TLBadDerogCnt:</label>
      <input
        type="number"
        id="TLBadDerogCnt"
        name="TLBadDerogCnt"
        required
      /><br /><br />

      <label for="TLDel60Cnt24">TLDel60Cnt24:</label>
      <input
        type="number"
        id="TLDel60Cnt24"
        name="TLDel60Cnt24"
        required
      /><br /><br />

      <label for="TLOpen24Pct">TLOpen24Pct:</label>
      <input
        type="text"
        id="TLOpen24Pct"
        name="TLOpen24Pct"
        required
      /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
